.btn {
    background-color: #5c687c;
    color: white;
}

.friendListRow {
    font: 20;
    color: black;
    padding: 18;
}


.fa-icon {
    font-family: 'FontAwesome';
    font-size: 24;
    font-weight: normal;
    text-align: center;
}

 .fab-button {
    height: 60;
    margin: 35;
    background-color: #5c687c; 
    horizontal-align: right; 
    vertical-align: bottom; 
}

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import 'nativescript-theme-core/css/grey.css';