.page {
    background-color: #5c687c;
    color: white;
    text-align: center;
}

Label {
    margin-bottom: 20;
}

Button {
    border-radius: 10;
    width: 200;
}

.avatar {
    border-radius: 20;
}

.subtext {
    margin-top: -7;
    text-align: right;
}

.instructions {
    color: #ECEFF1;
    font-size: 15;
}

.successMessage {
    color: #76FF03;
    font-size: 15;
}

.errorMessage {
    color: #FF80AB;
    font-size: 15;
}

.nicknameCountainer {
    padding: 20 0;
}

.nicknameLabel {
    text-align: right;
    padding: 3 5 0 0;
}

.nicknameLabelRight {
    text-align: left;
    padding: 3 0 0 5;
}

.nicknameInput {
    margin: 0;
    padding: 0 0 0 5;
    text-align: left;
    border-color: transparent;
    background-color: transparent;
}