GridLayout {
    background-color: #5c687c;
    color: white;
    text-align: center;
}

Label {
    margin-bottom: 20;
}

.successButton {
    background-color: #00BFA5;
    border-radius: 10;
}

.subtext {
    margin-top: -7;
    text-align: right;
}

.instructions {
    color: #ECEFF1;
    font-size: 15;
}

.successMessage {
    color: #76FF03;
    font-size: 15;
}

.errorMessage {
    color: #FF80AB;
    font-size: 15;
}